*{
	padding:0;
	margin:0;
}

body {
	background-color: #7437ff; /*Hintergrundfarbe*/
	/*background-image:url(Bilder/spray2.png);*/
	background-attachment:fixed;
	/*background-repeat:repeat;*/
	background-position:left top;
	color: white; /*Schriftfarbe*/
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:87.5%;
}

div#navbar {
	background-color: #310341;
	margin:10px;
	width:900px;
	height:50px;
	font-family: sans-serif;
}
div#navbar li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

div#navbar a {
	display:block;
	padding:15px;
	background-color:#310341;
	color:#c16aff;
}

div#navbar a:hover {
	background-color:#c16aff;
	color:#310341;
}

div#wrapper {
	background-color:#5b58ff;
	color:black;
	width: 403px;
	margin-top:10px;
	margin-right:auto;
	margin-bottom:10px;
	margin-left:auto;
	border-style: solid;
	border-color:#000000;
}

div#header {
	background-color:#c16aff;
	color:black;
	width: 400px;
	height: 200px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	border-style:solid;
}

div#navigation {
	padding-top:5px;
	padding-right:20px;
	padding-bottom:5px;
	padding-left:20px;
}

div#text {
	padding-top:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-left:20px;	
}

div#footer {
	padding-top:10px;
	padding-right:20px;
	padding-bottom:20px;
	padding-left:20px;
	border-top:1px solid #8c8c8c;
	margin-top:0;
}

h1{
	font-size:150%;
}

a{
	text-decoration:none; /*Unterstreichen entfernen*/
}
a:link{
	color:#c99cc9;
}

a:visited{
	color:#cc6666;
}

a:hover,

a:focus{
	text-decoration:underline;
}

a:active{
	color:white;
	background-color:#d90000;
}

ol,ul {
	list-style: none;
}

